<!doctype html>
<html lang="en" ng-app="appHotel">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="fav/favicon.ico">

  <title>Data Store</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/offcanvas.css" rel="stylesheet">
      <script type="text/javascript" src="js/angular.min.js"></script>

</head>

<body ng-controller="appCadastroCtrl">


  <nav ng-controller="produtoCtrl" lang="pt-br" class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
	<meta charset="utf-8">
      <a class="navbar-brand" href="index.html">Data Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
	


      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sobre.html">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="rank.html">Rank</a>
          </li>
         
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#"   id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</a>
            <div class="dropdown-menu" ng-model="dropFilter" aria-labelledby="dropdown01" >
              <a class="dropdown-item"  href="categoriaTelefonia.html">Telefonia</a>
             <a class="dropdown-item"  href="categoriaInformatica.html">Informática</a>
             <a class="dropdown-item"  href="categoriaTv.html">Tv e Acessórios</a>
             <a class="dropdown-item"  href="categoriaEletrodomesticos.html">Eletrodomésticos</a>
             <a class="dropdown-item"  href="categoriaMoveis.html">Móveis</a>
             <a class="dropdown-item"  href="categoriaEletroportateis.html">Eletroportáteis</a>
             <a class="dropdown-item"  href="categoriaOutros.html">Outros</a>
             
            </div>
           
          </li>
          
       
       
   
        
        <li class="nav-item dropdown" ng-show="cliente != undefined" >
            <a class="nav-link dropdown-toggle" href="#" id="opcoes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opções</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="profile.html">Perfil</a>
              <a class="dropdown-item" href="adicionaProduto.html">Adicionar Produtos</a>
              <a class="dropdown-item" href="meusProdutos.html">Meus Produtos</a>
              <a class="dropdown-item" ng-click="removeCliente()" href="index.html">Sair</a>
            </div>
          </li>
    </div>
    
</nav>

  <main role="main" class="container">

    <div class="row row-offcanvas row-offcanvas-right">

      <div class="col-12 col-md-9">
        <p class="float-right d-md-none">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
        </p>
        
        
        <h1 align="center">Cadastro</h1>

  <form class="form-horizontal">

 <div class="form-group">
      <label for="cpf" class="col-sm-2 control-label">CPF</label>
      <div class="col-sm-10">
        <input type="text" ng-model="cliente.cpf" class="form-control" id="cpf" placeholder="CPF">
      </div>
    </div>
    
    <div class="form-group">
      <label for="nome" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text"  required ng-model="cliente.nome" class="form-control" id="name" placeholder="Nome">
      </div>
    </div>
     <div class="form-group">
      <label for="endereco" class="col-sm-2 control-label">Endereço</label>
      <div class="col-sm-10">
        <input type="text" ng-model="cliente.endereco" class="form-control" id="endereco" placeholder="Endereco">
      </div>
    </div>
    <div class="form-group">
      <label for="senha" class="col-sm-2 control-label">Senha</label>
      <div class="col-sm-10">
        <input type="text" ng-model="cliente.senha" class="form-control" id="senha" placeholder="Senha">
      </div>
    </div>
	<div class="form-group" for="cliente">
    <label for="senha" class="col-sm-2 control-label">Cliente Indicado</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cliente.clienteIndicado" class="form-control" id="senha" placeholder="ClienteIndicado">
      </div>
    </div>
	<div class="form-group" for="cliente">


    <div align="center">
      <button type="submit" ng-click="salvar(cliente)" class="btn btn-success">Cadastrar</button>

      <button type="submit"  class="btn btn-danger">Cancelar</button>
      <div class="form-group">
       <br>
     </div>

     <table class="table table-striped">
      <tr>
        <th>Endereco</th>
        <th>Nome</th>
        <th>Password</th>
        <th>CPF</th>
      </tr>
      <tr  ng-repeat="cliente in clientes">
        <td>{{ cliente.endereco}}</td>
        <td>{{cliente.nome }}</td>
        <td>{{cliente.senha }}</td>
        <td>{{ cliente.cpf}}</td>


      </tr>
    </table>




    

  </main><!--/.container-->

  <footer>
    <p>&copy; Company 2017</p>
  </footer>


    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
      <script src="js/vendor/popper.min.js"></script>
      <script src="controller/cadastroCtrl.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/offcanvas.js"></script>
    </body>
    </html>
