<!doctype html>
<html lang="pt-br" ng-app="appHotel">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="fav/favicon.ico">

    <title>Data Store</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/offcanvas.css" rel="stylesheet">
  </head>

  <body ng-controller="produtoCtrl">
   		
        <div class="dropdown">
      <button ng-show="cliente == undefined" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       Entrar/Cadastrar
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="login.html">Entrar</a></li>
        <li><a href="cadastro.html">Cadastre-se</a></li>
       
        <li role="separator" class="divider"></li>
       
      </ul>
    </div>

  <nav ng-controller="produtoCtrl" lang="pt-br" class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
	<meta charset="utf-8">
      <a class="navbar-brand" href="index.html">Data Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
	


      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sobre.html">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="rank.html">Rank</a>
          </li>
         
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#"   id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</a>
            <div class="dropdown-menu" ng-model="dropFilter" aria-labelledby="dropdown01" >
              <a class="dropdown-item"  href="categoriaTelefonia.html">Telefonia</a>
             <a class="dropdown-item"  href="categoriaInformatica.html">Informática</a>
             <a class="dropdown-item"  href="categoriaTv.html">Tv e Acessórios</a>
             <a class="dropdown-item"  href="categoriaEletrodomesticos.html">Eletrodomésticos</a>
             <a class="dropdown-item"  href="categoriaMoveis.html">Móveis</a>
             <a class="dropdown-item"  href="categoriaEletroportateis.html">Eletroportáteis</a>
             <a class="dropdown-item"  href="categoriaOutros.html">Outros</a>
             
            </div>
           
          </li>
          
       
       
   
        
        <li class="nav-item dropdown" ng-show="cliente != undefined" >
            <a class="nav-link dropdown-toggle" href="#" id="opcoes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opções</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="profile.html">Perfil</a>
              <a class="dropdown-item" href="adicionaProduto.html">Adicionar Produtos</a>
              <a class="dropdown-item" href="meusProdutos.html">Meus Produtos</a>
              <a class="dropdown-item" ng-click="removeCliente()" href="index.html">Sair</a>
            </div>
          </li>
    </div>
    
</nav>

    <main role="main" class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
          <p class="float-right d-md-none">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
          </p>
           <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" ng-model="buscar" aria-label="Search"> </input>
          <div class="row">
            <div class="col-6 col-lg-4" ng-repeat="produto in produtos | filter: {categoria: 'Móveis'}">
              <h2>{{produto.nome}}</h2>
              <p> 
                 Descricao: {{produto.descricao}} $<br/>
                 Preço: {{produto.valorVenda}}<br/>
                 Quantidade: {{produto.quantidade}}<br/>
                 Vendedor: {{produto.cliente.nome}}<br/>
              </p>
             
            </div><!--/span-->
         
           
          </div><!--/row-->
        </div><!--/span-->

        
      </div><!--/row-->

      <hr>

    </main><!--/.container-->

    <footer>
      <p>&copy; Company 2017</p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="controller/produtoCtrl.js"></script>
   
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
  </body>
</html>
